.pagination {
    padding-top: 1%;
}
.bg {
    background-color: whitesmoke;
    height: 100vh;
}

.card-switch {
    box-shadow: 2px 2px 13px -7px rgba(0, 0, 0, 0.75);
}

.btnCard {
    justify-content: center;
}

.iconCard {
    position: absolute;
    color: rgb(233, 233, 233);
    cursor: pointer;
}

.imgSwitch {
    margin: 20px;
}
.tileImg {
    width: 100%;
}
